.navbar-home {
    background-color: #811a1a;
    border-color: #e7e7e7;
    border: none;
    border-radius: 0px;
    border-bottom: 5px solid gold;
    margin-bottom: 0px;
}

.navbar-home .navbar-nav > li > a {
    color: #fff;
}
body {
    background-color: beige ;
}

.navbar-home .navbar-brand {
    color: #fff;
    font-weight: bold;
}

.carousel-content {
    position: relative;
    width: auto;
    overflow: hidden;
    object-fit: contain;
    height: 450px;
}

.img-responsive, .thumbnail > img, .thumbnail a > img, .carousel-inner > .item > img, .carousel-inner > .item > a > img {
    display: block;
    max-width: 100%;
    height: auto;
    width: 100%;
}

.about-hotel {
    margin-top: 3rem;
    margin-bottom: 2rem;
}

.our-services {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.footer {
    background-color: #811a1a;
    color: white;
    padding-top: 1.5rem;
}